@import "~bootstrap/dist/css/bootstrap.css";

.main{
    margin-top: 20px;
}
th{
    cursor: pointer;
    font-weight: 400;
}

.fa-arrow-up:before{
content: '';
}

.fa-arrow-up:after {
    content: "\f062";
    margin: 18px;
}

.fa-arrow-down:before{
    content: '';
    }

.fa-arrow-down:after {
    content: "\f063";
    margin: 18px;
}