@import "~bootstrap/dist/css/bootstrap.css";

.headerContainer{
    width: 100%;
    height: 100px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 32%, rgba(24,29,98,1) 53%, rgba(0,212,255,1) 100%);
    color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.headerContainer::after{
    content: "Search Movies Here";
    color: white;
    border-radius: 100% 75%;
    width: 340px;
    height: 80px;
    background-color: rgb(105, 30, 36);

}
.headerContainer::before{
    content: "Rating and other stuffs";
    color: white;
    font-size: 25px;
    border-radius: 100% 75%;
    width: 340px;
    height: 80px;
    background-color: rgb(143, 10, 10);

}

input{
width: 100%;
height: 40px;
border: none;
border-bottom: 1px solid black;
outline: none;
border-radius: 15px;
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) ;
}

label{
    left: 21px;
    top: 7px;
    position: absolute;
    transition: 0.5s ease-in-out;
}

input:valid ~ label,input:focus ~ label{
    transform: translateX(-15px) translateY(-26px);
    
    color: rgb(9, 71, 241);
    font-size: small;
}
label:active{
    transform: translateY(-26px);
    color:  rgb(24, 36, 197);;
}

@media screen and (max-width:765px){
    .searchbtn{
        width: 100%;
    }
    button{
        width: 100%;
        margin-top: 15px;
    }
}




